Source: kbosd
Section: x11
Priority: optional
Maintainer: Cedric Cellier <rixed@happyleptic.org>
Build-Depends: debhelper (>> 3.0.0), libx11-dev, x11proto-xext-dev 
Standards-Version: 3.7.3

Package: kbosd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: tv-fonts | xfonts-100dpi | xfonts-100dpi-transcoded
Description: A virtual keyboard as OSD
 This is a small and simple virtual keyboard for OpenMoko FreeRunner, inspired from fatfingershell.
 The idea was to use XShape extention to display the virtual keyboard above the terminal.
Homepage: http://gitorious.org/kbosd
